<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535192660743-8cdm5olf4jrph5eblvk0q4bb55od19ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535192660743-8cdm5olf4jrph5eblvk0q4bb55od19ea</string>
	<key>API_KEY</key>
	<string>AIzaSyDjO8NreQ0l4UIw2to239UCcJBB18fGGHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>535192660743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.afarma.app</string>
	<key>PROJECT_ID</key>
	<string>afarma-171f8</string>
	<key>STORAGE_BUCKET</key>
	<string>afarma-171f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535192660743:ios:8d261682c4845c5a1eb3a2</string>
</dict>
</plist>